<!-- Footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Inicio del pie de página</p>
                <div class="footer-manu">
                    <ul>
                        <li><a href="{{ site.baseurl }}/about">Acerca de...</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contáctanos</a></li>
                        <li><a href="{{ site.baseurl }}/ubicacion">Ubicacion</a></li>
                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/terminos">Términos y Condiciones</a></li>
                    </ul>
                </div>
                <p>Fin del pie de página</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Close -->
